ul li{
	display: inline;
}
.container{

}
.navbar-inverse{
	background-color: blue;
}
.clear{
    background: transparent;
    border: 1px solid #000;
   
}
.demo-card-wide.mdl-card {
  width: 512px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url(/assets/little.jpg) center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}